/* main.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #bebebe;
    height: 100vh;
    padding-top: 200px; /* Ajustado para garantir que o conteúdo não fique atrás do header */
}

main {
    margin-bottom: 100px; /* Espaço adicionado entre o main e o footer */
}

.interface1 {
    max-width: 1280px;
    margin: 0 auto;
}

.flex1 {
    display: flex;
}

h2.titulo1 {
    color: #000000;
    font-size: 38px;
    text-align: center;
}

h2.titulo1 span {
    color: #eb6517;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site1 {
    padding: 40px 4%;
}

section.topo-do-site1 .flex1 {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site1 h1 {
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site1 .txt-topo-site1 h1 span {
    color: #eb6517;
}

.topo-do-site1 .txt-topo-site1 p {
    color: #403c3c;
    margin: 40px 0;
}

.topo-do-site1 .img-topo-site1 img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* ESTILO DO SOBRE */
section.sobre1 {
    padding: 80px 4%;
}

section.sobre1 .flex1 {
    align-items: center;
    gap: 60px;
}

.sobre1 .txt-sobre1 {
    color: #000000;
}

.sobre1 .txt-sobre1 h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre1 .txt-sobre1 h2 span {
    color: #eb6517;
    display: block;
}

.sobre1 .txt-sobre1 p {
    margin: 20px 0;
    text-align: justify;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio1 {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio1 .flex1 {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port1 {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    z-index: 1; /* Garante que a imagem esteja acima do fundo, mas abaixo do header */
}

.img-port1:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 1020px) {
    .flex1 {
        flex-direction: column;
    }

    .topo-do-site1 .flex1 {
        flex-direction: column-reverse;
    }

    h2.titulo1 {
        font-size: 34px;
        line-height: 30px;
    }

    section.topo-do-site1 .flex1 {
        gap: 40px;
    }

    section.topo-do-site1 {
        padding: 20px 8%;
    }

    .topo-do-site1 h1 {
        font-size: 30px;
    }

    .topo-do-site1 .img-topo-site1 img {
        width: 100%;
    }

    section.sobre1 {
        padding: 80px 8%;
    }

    .sobre1 .txt-sobre1 h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .img-sobre1 img {
        width: 100%;
    }

    section.portfolio1 {
        padding: 80px 8%;
    }

    .img-port1 {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio1 .flex1 {
        gap: 60px;
    }
}
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 5px solid #ddd;
}

th {
    background-color: #779bc2f3;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }
}