.div-cards {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}

.div-card{
    width: 30%;
    min-width: 280px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    width: 80%;
}